
//title Los Angeles Percussion Rentals - Rent Percussion Instruments in L.A. and Southern California

title!=title

if description
  meta(name="description", content="#{description}")

link(rel="stylesheet", href="/dist/css/main.css?v=#{assets_version}", type="text/css")

if user
  link(rel="stylesheet", href="/dist/css/admin.css?v=#{assets_version}", type="text/css")

link(rel="stylesheet", href="/dist/css/vex.css", type="text/css")
link(rel="stylesheet", href="/dist/css/vex-theme-plain.css", type="text/css")

meta(name="viewport", content="width=device-width, minimal-ui=1, initial-scale=1.0, maximum-scale=1, user-scalable=no")

meta(http-equiv="Content-Type", content="text/html;charset=utf-8")

meta(name="csrf-param", content="#{csrf_param}")

//markdown_opts: {"gfm":true,"breaks":true,"tables":true,"sanitize":true,"smartypants":true},

meta(property="og:site_name", content="L.A. Percussion Rentals")
meta(property="og:title", content="#{title}")
meta(property="og:description", content="#{description}")
meta(property="og:url", content="#{base_url}#{original_url}")
- var og_image = og_image || base_url + '/images/layout/header-image.jpg';
meta(property="og:image", content="#{og_image}")
- var og_type = og_type || 'website';
meta(property="og:type", content="#{og_type}")

script(type="text/javascript").
  //document.write('<style type="text/css">/*#main, .products .product .image img, .product-details .image img,*/ .more-container { display: none; }</style>');

