
.image
  //- if product.images.length
  //-  img(src="/images/#{product.images[0].name}", width="400", title="#{product.name}")

h2= product.name
if product.alt_names
  p.alt-names (#{product.alt_names})
if makers
  p.makers Mfg. by #{makers}

p.description= product.description

p
  a.more-info(href="javascript:void(0);") More Infomation

dl
if product.model_no
  dt Model No.
  dd= product.model_no
if product.price
  dt Price
  dd= product.price
if product.sizes
  dt Sizes
  dd= product.sizes
if product.range
  dt Range
  dd
    span= product.range
    .range

.sounds
  if _.isArray(product.youtube_videos) && product.youtube_videos.length
    h3 Sounds
    - var youtube_videos = product.youtube_videos
    include youtube_player
