

.product
  if product.thumbnail
    .thumbnail
      //- img(src="/images/products/#{product.thumbnail}")

  h3.name= product.name

  if _.isArray(product.makers) && product.makers.length
    p.makers= product.makers.map(function(m) { return m.name; }).join(', ')

  p.price= product.price

  if user
    p
      a.edit(href="/instruments/#{product.slug}/#{product.id}") Edit
