
.image
  //- if product.images.length
  //-  img(src="/images/#{product.images[0].name}", width="400", title="#{product.name}")

h2= product.name
if product.alt_names
  p.alt-names (#{product.alt_names})
if makers
  p.makers Mfg. by #{makers}

p.description= product.description


dl
if product.model_no
  dt Model No.
  dd= product.model_no
if product.price
  dt Price
  dd= product.price
if product.range
  dt Range
  dd= product.range
if product.sizes
  dt Sizes
  dd= product.sizes

.range

.sounds
  if product.youtube_videos && product.youtube_videos.length
    h3 Sounds
    - var youtube_videos = product.youtube_videos
    include youtube_player
