
.container-fluid.product-details(itemscope, itemtype="http://schema.org/Product")
  .row
    .col-md-12
      h2(itemprop="name")= product.name
      link(itemprop="url", href="http://www.lapercussionrentals.com/instruments/#{product.slug}/#{product._id}")
      .image.pull-right
        if product.image
          - var image_path = user ? '/images/products/' : '/dist/images/products/400/';
          - var qs = user ? '?t=' + (new Date).getTime() : '';
          img(src="#{image_path}#{product.image}#{qs}", width="400", title="#{product.name}", alt="#{product.name}", itemprop="image")

      
      if product.alt_names
        p.alt-names.secondary(itemprop="alternateName") (#{product.alt_names})
      if product.makers.length
        p.makers(itemprop="manufacturer") Mfg. by #{product.makers}

      .description(itemprop="description")!= markdown(product.description)

      if product.more_info
        .more-info-container
          a.show-more-info(href="javascript:void(0);") More Information...
          .more-info.hide!= markdown(product.more_info)

      dl
        if product.model_no
          dt Model No.
          dd(itemprop="model")= product.model_no
        if product.price
          - var label = product.price_label ? product.price_label : 'Day';
          dt Price/#{label}
          dd(itemprop="price")= product.price
        if product.sizes
          dt Sizes
          dd!= markdown(product.sizes)
        if product.range
          dt Range
          dd
            span= product.range

      .range

      if product.octave_shift
       .range-notice.secondary
         - var s = (product.octave_shift > 1 ? 's' : '')
         em This instrument is traditionally written for #{product.octave_shift} octave#{s} below where it actually sounds.


      .sounds
        if _.isArray(product.youtube_videos) && product.youtube_videos.length
          h3 Sounds
          - var youtube_videos = product.youtube_videos
          include youtube_player
          if product.show_sounds_disclaimer
            .sounds-disclaimer.content-block(data-name="sounds-disclaimer").hide
              .content

      .nav-links
        nav
          ul
            li.previous 
              a(href="javascript:void(0)", title="Previous Instrument") Previous
            li.next
              a(href="javascript:void(0)", title="Next Instrument") Next

      if user
        p.edit-link
          a.edit(href="/instruments/#{product.slug}/#{product._id}") Edit Product
    
