
.product
  if product.thumbnail
    .image
      img.product-image(src="/images/products/#{product.image}")

  .details
    h3.name= product.name

    if _.isArray(product.makers) && product.makers.length
      p.makers
        cite= product.makers.map(function(m) { return m.name; }).join(', ')

    p.price= product.price

    if user
      p
        a.edit(href="/instruments/#{product.slug}/#{product.id}") Edit
    noscript
      a.product-details(href="/instruments/#{product.slug}/#{product.id}") Details
