
.product
  .image
    if product.thumbnail
      img(src="/images/products/#{product.thumbnail}", alt="#{product.name}", rel="prefetch")

  .details.hidden-xs

    h3.name= product.name

    if _.isArray(product.makers) && product.makers.length
      p.makers.secondary
        cite= product.makers.map(function(m) { return m.name; }).join(', ')
    if product.sizes && product.sizes.length && !product.hide_sizes_in_lists
      .sizes.secondary!= markdown(product.sizes)
    noscript
      a.product-details(href="/instruments/#{product.slug}/#{product.id}") Details

  if user
    p.edit-link
      a.edit(href="/instruments/#{product.slug}/#{product._id}") Edit

