
.image
  img(src="/images/#{product.large_image.name}", width="400")

h2= product.name
if product.alt_names
  p.alt-names (#{product.alt_names})
if makers
  p.makers Mfg. by #{makers}

p.description= product.description

dl
if product.model_no
  dt Model No.
  dd= product.model_no
if product.price
  dt Price
  dd= product.price
if product.range
  dt Range
  dd= product.range
if product.sizes
  dt Sizes
  dd= product.sizes


if product.sound_file
  a.sound-file(href="/sound-files/products/#{product.sound_file}")= product.sound_file_title || 'Sound Clip'



