
.product
  .image
    if product.thumbnail_image
      noscript
        img.noscript(src="/images/products/#{product.thumbnail}", alt="#{product.name}")

  .details
    h3.name= product.name

    if _.isArray(product.makers) && product.makers.length
      p.makers.secondary
        cite= product.makers.map(function(m) { return m.name; }).join(', ')

    noscript
      a.product-details(href="/instruments/#{product.slug}/#{product.id}") Details

  if user
    p.edit-link
      a.edit(href="/instruments/#{product.slug}/#{product._id}") Edit

