
.container-fluid.products.products-categories-search
  .row
    .sidebar.col-xs-6.col-sm-6.col-md-3
      nav
        .scroll-fixed-inner
          .categories.tags-tree
            <!-- needs to be more generic -->

    .products-results.col-xs-6.col-sm-6.col-md-9
      #heading-container
        h2.line-after= (typeof heading != 'undefined' ? heading : '')
        .more-info-container.hide
          a.more-info(href="javascript:void(0);") More&hellip; 

        .stats-container
          .stats.secondary #{products.length} Results
          .sort-direction.hidden-xs.hidden-sm
            a(data-action="app:navigate", href="/instruments/categories/#{context.params.category}/sort/#{context.params.sort_dir == 'asc' ? 'desc' : 'asc'}").toggle-sort-direction.
              #{context.params.sort_dir == 'asc' ? 'Ascending' : 'Descending'}

      .boxes-list
        .scroll-fixed-inner
          ul.results


