
.container-fluid.product-details
  .row
    .col-md-12
      h2= product.name
      .image.pull-right
        if product.image
          img(src="/images/products/#{product.image}", width="400", title="#{product.name}")

      
      if product.alt_names
        p.alt-names.secondary (#{product.alt_names})
      if product.makers.length
        p.makers Mfg. by #{product.makers}

      p.description!= markdown(product.description)

      if product.more_info
        .more-info!= markdown(product.more_info)

      dl
        if product.model_no
          dt Model No.
          dd= product.model_no
        if product.price
          dt Price
          dd= product.price
        if product.sizes
          dt Sizes
          dd!= markdown(product.sizes)
        if product.range
          dt Range
          dd
            span= product.range

      .range

      if product.octave_shift
       .range-notice.secondary
         - var s = (product.octave_shift > 1 ? 's' : '')
         em This instrument is traditionally written for #{product.octave_shift} octave#{s} below where it actually sounds.


      .sounds
        if _.isArray(product.youtube_videos) && product.youtube_videos.length
          h3 Sounds
          - var youtube_videos = product.youtube_videos
          include youtube_player
          .sounds-disclaimer.content-block(data-name="sounds-disclaimer").hide
            .content

      .nav-links
        nav
          ul
            li.previous 
              a(href="javascript:void(0)") Previous
            li.next
              a(href="javascript:void(0)") Next

      if user
        p.edit-link
          a.edit(href="/instruments/#{product.slug}/#{product._id}") Edit Product
    
