
.container-fluid 
  .row
    .col-xs-12
      h2= product.name

      if product.alt_names
        p.alt-names.secondary (#{product.alt_names})
      if product.makers.length
        p.makers
          cite Mfg. by #{product.makers}
      .image
        if product.image
          img(src="/images/products/#{product.image}", width="400", title="#{product.name}")

      p.description!= markdown(product.description)

      if product.more_info
        .more-info-container.hide
          p
            a.show-more-info(href="javascript:void(0);") More Infomation
          .more-info!= markdown(product.more_info)

      dl
        if product.model_no
          dt Model No.
          dd= product.model_no
        if product.price
          dt Price
          dd= product.price
        if product.sizes
          dt Sizes
          dd!= markdown(product.sizes)
        if product.range
          dt Range
          dd
            span= product.range

      .range

      if product.octave_shift
        .range-notice.secondary
          - var s = (product.octave_shift > 1 ? 's' : '')
          em This instrument is traditionally written for #{product.octave_shift} octave#{s} below where it actually sounds.
   
   .row
    .col-xs-12
      .sounds
        if _.isArray(product.youtube_videos) && product.youtube_videos.length
          h3 Sounds
          - var youtube_videos = product.youtube_videos
          include youtube_player
          .sounds-disclaimer.content-block(data-name="sounds-disclaimer").hide
            .content

  .row
    .col-xs-12
      if user
        p.edit-link
          a.edit(href="/instruments/#{product.slug}/#{product._id}") Edit Product

