doctype html
html
  head

    title!=title

    if description
      meta(name="description", content="#{description}")

    link(rel="stylesheet", href="/dist/css/main.css?v=#{assets_version}", type="text/css")

    if user
      link(rel="stylesheet", href="/dist/css/admin.css?v=#{assets_version}", type="text/css")

    link(rel="stylesheet", href="/dist/css/vex.css", type="text/css")
    link(rel="stylesheet", href="/dist/css/vex-theme-plain.css", type="text/css")

    meta(name="viewport", content="width=device-width, minimal-ui=1, initial-scale=1.0, maximum-scale=1, user-scalable=no")

    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")

    meta(name="csrf-param", content="#{csrf_param}")

    meta(property="og:site_name", content="L.A. Percussion Rentals")
    meta(property="og:title", content="#{title}")
    meta(property="og:description", content="#{description}")
    meta(property="og:url", content="#{base_url}#{original_url}")
    - var og_image = og_image || base_url + '/images/layout/header-image.jpg';
    meta(property="og:image", content="#{og_image}")
    - var og_type = og_type || 'website';
    meta(property="og:type", content="#{og_type}")

    link(rel="stylesheet", href="/product_images.css", type="text/css")

  body
    .wrapper
      header.header
        .header__item
          a.header__link(href="/", title="L.A. Percussion Rentals", data-action="click:navigate")
            span.header__site-name L.A. Percussion Rentals
        .header__item
          a.header__link(href="/instruments", data-action="click:navigate") Instruments
        .header__item
          a.header__link(href="/instruments/tags", data-action="click:navigate") Sound Search
        .header__item
          a.header__link(href="/contact", data-action="click:navigate") Contact Us

        .header__item
          .text-search
            .products-text-search

      .content-main

      footer.footer
        p.footer__copy &copy;!{(new Date).getFullYear()} L.A. Percussion Rentals

    if user
      script(type="text/javascript").
        window.lapr.user = !{JSON.stringify(user)};

