doctype html
html
  head
    title 

    link(rel="stylesheet", href="/dist/css/main.css")
    if user
      //- link(rel="stylesheet", href="/dist/css/cms.css")
      link(rel="stylesheet", href="/dist/css/admin.css")
      link(rel="stylesheet", href="/bower_components/vex/css/vex.css")
      link(rel="stylesheet", href="/bower_components/vex/css/vex-theme-plain.css")
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="csrf-param", content="#{csrf}")
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")

  body

    header
      
      div.navbar.navbar-default(role="navigation")
        div.navbar-left
          .logo
            a(href="/", title="L.A. Percussion Rentals")
              span L.A. Percussion Rentals

        .navbar-header
          button(type="button", data-target="#navbar-collapse", data-toggle="collapse", class="navbar-toggle")
            span.sr-only Toggle Nav
            span.icon-bar
            span.icon-bar
            span.icon-bar

        div.container-fluid.collapse.navbar-collapse#navbar-collapse
          nav
            ul.nav.navbar-nav
              each link, name in nav
                - var current = (name == body_class ? 'current' : '');
                li(class="#{current}")
                  a.navigate(href="#{link.url}")= link.text
              if user
                li
                  a.logout(href="/logout") Logout

    #main
      block content 

    footer


    //- if json_data
    //-   script(type="text/javascript").
    //-    window.lapr = {};
    //-    window.lapr.products           = !{JSON.stringify(json_data.products)};
    //-    window.lapr.product_categories = !{JSON.stringify(json_data.product_categories)};
    //-    window.lapr.makers             = !{JSON.stringify(json_data.makers)};
    //-    window.lapr.tags               = !{JSON.stringify(json_data.tags)};
    //-    window.lapr.tag_categories     = !{JSON.stringify(json_data.tag_categories)};
      
    script(type="text/javascript").
      // Various polyfills
      [].filter||(Array.prototype.filter=function(a,b,c,d,e){c=this;d=[];for(e in c)~~e+''==e&&e>=0&&a.call(b,c[e],+e,c)&&d.push(c[e]);return d});
      Object.keys=Object.keys||function(o,k,r){r=[];for(k in o)r.hasOwnProperty.call(o,k)&&r.push(k);return r};
      Array.isArray||(Array.isArray=function(a){return''+a!==a&&{}.toString.call(a)=='[object Array]'});
      window.cms = { env: '#{settings.env}' };
    
    block script

    if user
      script(type="text/javascript").
        window.cms.user = !{JSON.stringify(user)};
        window.cms.markdown_opts = !{JSON.stringify(marked_opts)};
    
    if settings.env == 'production'
      script(type="text/javascript", src="/dist/js/main.js")
    else
      script(type="text/javascript", src="/bower_components/requirejs/require.js")

    script(type="text/javascript").
      require.config({ baseUrl: '/js' });
      require([ 'config' ], function() {
        require([ 'main' ]);
      });
