doctype html
html
  head
    title= title 

    if description
      meta(name="description", content="#{description}")

    link(rel="stylesheet", href="/dist/css/main.css")
    if user
      link(rel="stylesheet", href="/dist/css/admin.css")

    link(rel="stylesheet", href="/bower_components/vex/css/vex.css")
    link(rel="stylesheet", href="/bower_components/vex/css/vex-theme-plain.css")
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(name="csrf-param", content="#{csrf}")
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")



  body
    header
      .container-fluid
        .row
          .col-xs-1.hidden-lg.hidden-md
            a#toggle-site-menu
              span.glyphicon.glyphicon-menu-hamburger

          .col-xs-3.logo-container
            .logo
              a.navigate(href="/", title="L.A. Percussion Rentals")
                span L.A. Percussion Rentals
        
            
          .col-xs-5.visible-md-block.visible-lg-block
            nav
              ul.nav.navbar-nav
                li.dropdown
                  a.dropdown-toggle.navigate(href="/instruments") Instruments
                  ul.dropdown-menu
                    each category in json_data.product_categories
                      li
                        a.navigate(href="/instruments/categories/#{category.slug}")= category.name 
                li
                  a.navigate(href="/instruments/tags") Sound Search
                li
                  a.navigate(href="/contact") Contact Us
                if user
                  li.dropdown 
                    a.dropdown-toggle(href="javascript:void(0);") Admin
                    ul.dropdown-menu
                      li
                        a.add-product(href="javascript:void(0);") Add Product
                      li
                        a.edit-tag-categories(href="javascript:void(0);") Edit Tag Categories
                      li
                        a.edit-youtube-videos(href="javascript:void(0);") Edit Youtube Videos
                      li
                        a.edit-products(href="javascript:void(0);") Edit Products
                      li
                        a.edit-content-blocks(href="javascript:void(0);") Edit Content Blocks
                      li
                        a.edit-pages(href="javascript:void(0);") Edit Pages
                      li
                        a.edit-images(href="javascript:void(0);") Edit Images
                      li
                        a.logout(href="/logout") Logout
          
          .col-xs-4.hidden-xs.hidden-sm
            .text-search

    #site-menu
      nav
        ul
          li
            a.navigate(href="/") Home
          li
            a.navigate(href="/contact") Contact Us
            
          each category in json_data.product_categories
            li
              a.navigate(href="/instruments/categories/#{category.slug}")= category.name 
          

    #main
      block content 

    footer
      div &copy;!{(new Date).getFullYear()} L.A. Percussion Rentals
      nav
        ul
          li
            a.navigate(href="/") Home
          li
            a.navigate(href="/instruments") Instruments
          li
            a.navigate(href="/contact") Contact Us

    script(type="text/javascript").
      // Various polyfills
      [].filter||(Array.prototype.filter=function(a,b,c,d,e){c=this;d=[];for(e in c)~~e+''==e&&e>=0&&a.call(b,c[e],+e,c)&&d.push(c[e]);return d});
      Object.keys=Object.keys||function(o,k,r){r=[];for(k in o)r.hasOwnProperty.call(o,k)&&r.push(k);return r};
      Array.isArray||(Array.isArray=function(a){return''+a!==a&&{}.toString.call(a)=='[object Array]'});
      window.lapr = { env: '#{settings.env}' };
    
    block script

    if user
      script(type="text/javascript").
        window.lapr.user = !{JSON.stringify(user)};
        window.lapr.markdown_opts = !{JSON.stringify(marked_opts)};
    
    if settings.env == 'production'
      script(type="text/javascript", src="/dist/js/main.js")
    else
      script(type="text/javascript", src="/bower_components/requirejs/require.js")

    script(type="text/javascript").
      require.config({ baseUrl: '/js' });
      require([ 'config' ], function() {
        require([ 'main' ]);
      });




