include config
block config
doctype html
html
  head
    if title
      title= title 
    else
      title Los Angeles Percussion Rentals - Rent Percussion Instruments in L.A. and Southern California

    if description
      meta(name="description", content="#{description}")

    link(rel="stylesheet", href="/dist/css/main.css", type="text/css")
    if user
      link(rel="stylesheet", href="/dist/css/admin.css", type="text/css")

    link(rel="stylesheet", href="/bower_components/vex/css/vex.css", type="text/css")
    link(rel="stylesheet", href="/bower_components/vex/css/vex-theme-plain.css", type="text/css")

    link(rel="canonical", href="http://www.lapercussionrentals.com")
    //- link(rel="alternate", hreflang="en-us", href="http://www.lapercussionrentals.com")
    
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no")
    meta(name="csrf-param", content="#{csrf}")
    meta(http-equiv="Content-Type", content="text/html;charset=utf-8")

    meta(property="og:site_name", content="L.A. Percussion Rentals")
    meta(property="og:url", content="http://www.lapercussionrentals.com")
    meta(property="og:image", content="http://www.lapercussionrentals.com/images/layout/header-image.jpg")

    script(type="text/javascript").
      document.write('<style type="text/css">#main, .products .product .image img, .product-details .image img, .more-container { display: none; }</style>');

  body
    #content!= content

    script(type="text/javascript", src="/dist/vendor.js")
    script(type="text/javascript", src="/dist/client.js")
