
td
  if product.thumbnail
    img(src="/images/products/#{product.thumbnail}", width="50")
td
  a.product(href="/instruments/#{product.slug}/#{product.id}")= product.name
td.description= product.description
if _.isArray(product.makers) && product.makers.length
  td= product.makers.map(function(m) { return m.name; }).join(', ')
else
  td
td= product.price

