
.modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", aria-hidden="true") &times;
      .modal-body
        //- .col-md-7
        if product.image
          //- .col-md-5
          .image
            img(src="/images/products/#{product.image}")

        h2= product.name
        if product.alt_names
          p.alt-names \(!{product.alt_names}\)
        if _.isArray(product.makers) && product.makers.length
          p.makers Mfg. by !{product.makers.join(', ')}

        p.description= product.description
        
        dl
        if product.model_no
          dt Model No.
          dd= product.model_no
        if product.price
          dt Price
          dd= product.price
        if product.range
          dt Range
          dd= product.range
        if product.sizes
          dt Sizes
          dd= product.sizes


      .modal-footer


