
extends layout

block content
  h2= product.name
  if product.alt_names
    h3
      em= product.alt_names
  if product.makers.length
    p Mfg. by #{product.makers.join(', ')}
  p= product.description
  if product.price
    p Rental Price: #{product.price}
  else
    p Contact Us for Price
  if product.sizes
    p Size(s): #{product.sizes}
  if product.range
    p Range: #{product.range}
  if product.octaves
    p Octaves: #{product.octaves}
  img(src="/images/products/#{product.full_image}", width="400")
