
extends layout

block content
  ul
    li
      a(href="/products") All
    each category in categories
      li
        a(href="/products/#{category.slug}")= category.name
  form(method="post", action="")
    p
      input(type="text", name="search", value="#{search}")
      input(type="submit", value="Search")
  p Count: #{products.length}
  table
    tbody
      tr
        th
        th name
        th alt_names
        th description
        th category
        th model_no
        th makers
        th price
        th range
        th sizes
      each product in products
        tr
          td
            img(src="/images/products/#{product.image}", width="50")
          td
            a(href="/products/#{product.categories[0].slug}/#{product.slug}")= product.name
          td= product.alt_names
          td._description= product._description
          td= product.categories.map(function(p) { return p.name; }).join(', ')
          td= product.model_no
          td= product.makers.join(', ')
          td= product.price
          td= product.range
          td= product.sizes
  
  p Makers: #{makers}
