

if product.thumbnail
  .thumbnail
    img(src="/images/products/#{product.thumbnail}")

.name= product.name

if _.isArray(product.makers) && product.makers.length
  .makers= product.makers.map(function(m) { return m.name; }).join(', ')

.description= product.description

.price= product.price

if user
  a.edit(href="/instruments/#{product.slug}/#{product.id}") Edit
