doctype xml

urlset(xmlns="http://www.sitemaps.org/schemas/sitemap/0.9",
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance",
       xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd")

  url
    loc= base_url
  
  url
    loc= base_url + 'instruments'

  url
    loc= base_url + 'instruments/tags'

  url
    loc= base_url + 'contact'

  each category in json_data.product_categories
    url
      loc= base_url + 'instruments/categories/' + category.slug

  each product in json_data.products
    url
      loc= base_url + 'instruments/' + product.slug + '/' + product._id
